.user-container{
    background-color: antiquewhite;
    padding: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
}


#user-img{
    height: 250px;
    width: 200px;
    border-radius: 50%;
}